## A. Strings

Strings adalah data text yang di representasikan dengan single/double/triple quotes.

In [103]:
String0 = 'Masih belajar coding disini'
String1 = "Masih belajar coding disini"
String2 = '''Masih
belajar
coding
disini'''

In [4]:
print(String0, type(String0))
print(String1, type(String1))
print(String2, type(String2))

Masih belajar coding disini <class 'str'>
Masih belajar coding disini <class 'str'>
Masih
belajar
coding
disini <class 'str'>

String punya index dan bisa di slice seperti list

In [5]:
print(String0[4])
print(String0[4:])

h
h belajar coding disini

### Built-in Functions

**find( )**

In [6]:
print(String0.find('be'))
print(String0.find('am'))

6
-1

**capitalize( )**

In [9]:
String3 = 'observe the first letter in this sentence.'
print(String3.capitalize())

Observe the first letter in this sentence.

**center( )**

In [24]:
len(String0)

27

In [17]:
String0.center(80)

'                          Masih belajar coding disini                           '

In [28]:
String0.center(20+27,'-')

'----------Masih belajar coding disini----------'

**expandtabs( )**

In [29]:
s = 's\tu\td\ta\th'
print(s)
print(s.expandtabs(1))
print(s.expandtabs())

s	u	d	a	h
s u d a h
s       u       d       a       h

In [30]:
String0

'Masih belajar coding disini'

In [32]:
print(String0.index('bel'))
print(String0.index('Masih',0))
print(String0.index('Masih',10,20))

6
0

ValueError: substring not found

**endswith( )**

In [33]:
print(String0.endswith('y'))

False

In [34]:
String0_2='cuma nyobay'
print(String0_2.endswith('y'))

True

The start and stop index values can also be specified.

In [35]:
print(String0.endswith('l',0))
print(String0.endswith('M',0,5))

False
False

**count( )**

In [36]:
print(String0.count('a',5))
print(String0.count('a',10,20))

2
1

**join( )**

In [37]:
'-'.join('python')

'p-y-t-h-o-n'

In [29]:
'a'.join('-_-!')

'-a_a-a!'

bisa juga untuk menggabung element2 di list

In [104]:
a = list(String0)
print(a)
b = '_'.join(a)
print(b)

['M', 'a', 's', 'i', 'h', ' ', 'b', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'c', 'o', 'd', 'i', 'n', 'g', ' ', 'd', 'i', 's', 'i', 'n', 'i']
M_a_s_i_h_ _b_e_l_a_j_a_r_ _c_o_d_i_n_g_ _d_i_s_i_n_i

In [40]:
c = '/'.join(a)[10:]
print(c)

 /b/e/l/a/j/a/r/ /c/o/d/i/n/g/ /d/i/s/i/n/i

**split( )**

In [41]:
c

' /b/e/l/a/j/a/r/ /c/o/d/i/n/g/ /d/i/s/i/n/i'

In [42]:
d = c.split('/')
print(d)

[' ', 'b', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'c', 'o', 'd', 'i', 'n', 'g', ' ', 'd', 'i', 's', 'i', 'n', 'i']

In [43]:
e = c.split('/',5)
print(e)

[' ', 'b', 'e', 'l', 'a', 'j/a/r/ /c/o/d/i/n/g/ /d/i/s/i/n/i']

**lower( )** dan **upper( )**

In [44]:
print(String0)
print(String0.lower())

Masih belajar coding disini
masih belajar coding disini

In [45]:
String0.upper()

'MASIH BELAJAR CODING DISINI'

**replace( )**

In [46]:
String0

'Masih belajar coding disini'

In [47]:
String0.replace('coding','programming')

'Masih belajar programming disini'

In [49]:
String0_3=String0.replace('coding','programming')

In [50]:
String0,String0_3

('Masih belajar coding disini', 'Masih belajar programming disini')

**strip( )**

In [51]:
f = '    hello   '
f.strip()

'hello'

Menambah string

In [52]:
saya = 'kita'
kamu = 'bersama'

saya+kamu

'kitabersama'

In [53]:
saya+' '+kamu

'kita bersama'

## B. Dictionaries

Dictionaries berguna seperti databasen dan bisa diberi index sesuai kebutuhan (tidak harus integer). Seperti JSON

bisa gunakan dict() or {}

In [54]:
## Dictionary kosong
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

In [55]:
d0['satu'] = 1
d0['tigaempat'] = 34
d0['coba_list'] = [4,5,'haha']
print(d0)

{'satu': 1, 'tigaempat': 34, 'coba_list': [4, 5, 'haha']}

In [61]:
d1={}
d1['contoh_dict']=d0
d1['others']='hanya string'
d1[2.3]='ini float'

In [62]:
d1

{'contoh_dict': {'satu': 1, 'tigaempat': 34, 'coba_list': [4, 5, 'haha']},
 'others': 'hanya string',
 2.3: 'ini float'}

In [63]:
d1['contoh_dict']['coba_list'][2]

'haha'

**zip( )**

In [86]:
# gabungkan 2 list. dan bisa dijadikan dict
names = ['satu', 'tujuh', 'saya', '4', 4]
numbers = [1, 7, 'me', 4, 'empat']

In [87]:
d2 = zip(names,numbers)
# list(d2)

In [88]:
a1 = dict(d2)
print(a1)

{'satu': 1, 'tujuh': 7, 'saya': 'me', '4': 4, 4: 'empat'}

In [89]:
a1['4'],a1[4]

(4, 'empat')

### Built-in Functions

**clear( )**

In [90]:
a1.clear()
print(a1)

{}

**values( )**

In [91]:
d0

{'satu': 1, 'tigaempat': 34, 'coba_list': [4, 5, 'haha']}

In [92]:
d0.values()

dict_values([1, 34, [4, 5, 'haha']])

**keys( )**

In [93]:
d0.keys()

dict_keys(['satu', 'tigaempat', 'coba_list'])

In [97]:
d5={}
d5['1']='patah'
d5['2']='3'
d5[4]='Saya'
d5['orang']='baru'
d5[9]='ganjil'

In [98]:
d5

{'1': 'patah', '2': '3', 4: 'Saya', 'orang': 'baru', 9: 'ganjil'}

In [100]:
d5.keys()

dict_keys(['1', '2', 4, 'orang', 9])

**items( )**

In [94]:
d0.items()

dict_items([('satu', 1), ('tigaempat', 34), ('coba_list', [4, 5, 'haha'])])

**pop( )**

In [95]:
a2 = d0.pop('satu')
print(d0)
print(a2)

{'tigaempat': 34, 'coba_list': [4, 5, 'haha']}
1

# Assignment 2

[here](https://docs.google.com/forms/d/e/1FAIpQLSdT35axT6kn8mj2sP7xVhZbTABS6WjMRDWuQcUAOzfULaqN-A/viewform)

copy and complete the script below and save it in file with extention ".py".

In [56]:
#######################
##        2.1        ##
#######################

# your_email=...
# print("-----"+str(your_email)+"-------")

## Bersihkan, urutkan Text berikut ini serta buat outputnya kecil semua:
txt_kartini='''$1. Dengan semua ilmu yang dipelajarinya selama di ELS dan Kepandaiannya dalam berbahasa Belanda, 
tidaK menyurutKan langKah RA. Kartini untuK mendapatKan pengetahuan walaupun berada di rumah. 
Beliau mulai melaKuKan Korespondensi Kepada teman-teman dari Belanda, 
dan salah satu teman yang selalu menduKung Keinginan Kartini adalah Rosa Abendanon. Melalui surat-surat tersebut, 
beliau sharing dengan teman-teman Belanda. $6. JupytEr KEtika JupytEr Kartini JupytEr mEncapai JupytEr usia JupytEr 24 JupytEr tahun, JupytEr bEliau JupytEr dijodohkan JupytEr dEngan JupytEr sEorang JupytEr bangsawan JupytEr dan JupytEr juga JupytEr bupati JupytEr asal JupytEr 
REmbang JupytEr yang JupytEr bErnama JupytEr K.R.M. JupytEr Adipati JupytEr Ario JupytEr Singgih JupytEr Djojo JupytEr Adhiningrat. JupytEr Bupati JupytEr REmbang JupytEr yang JupytEr sEbElumnya JupytEr sudah JupytEr mEmiliki JupytEr 3 JupytEr 
orang JupytEr istri JupytEr ini JupytEr akhirnya JupytEr mEnikah JupytEr dEngan JupytEr Kartini JupytEr pada JupytEr tanggal JupytEr 12 JupytEr NovEmbEr JupytEr 1903. JupytEr SEsuai JupytEr adat JupytEr Jawa, JupytEr gElar JupytEr kEbangsawanan JupytEr 
“RadEn JupytEr AjEng” JupytEr yang JupytEr sEmula JupytEr disandang JupytEr olEh JupytEr Kartini JupytEr sEmasa JupytEr mudanya JupytEr bErubah JupytEr mEnjadi JupytEr RadEn JupytEr Ayu JupytEr sEtElah JupytEr bEliau JupytEr mEnikah. $5. DaLaM SURaT YaNG DIKIRIMKaN KEPaDa SaHaBaT-SaHaBaTNYa TERSEBUT, TIDaK JaRaNG KaRTINI 
MENGUTIP KaLIMaT-KaLIMaT YaNG PERNaH DIBaCa aTaU MENYEBUTKaN SEBUaH KaRYa. DaRI SINI BISa DILIHaT BaHWa BELIaU 
SELaLU MEMBaCa DENGaN PENUH PERHaTIaN DaN TERKaDaNG MEMBUaT BEBERaPa CaTaTaN KECIL. KaRENa KEPIaWaIaN KaRTINI DaLaM MENULIS 
MENGGUNaKaN BaHaSa BELaNDa, BEBERaPa KaLI HaSIL TULISaN BELIaU DIMUaT DaLaM SEBUaH MaJaLaH BELaNDa 
LaNGGaNaNNYa YaITU DE HOLLaNDSCHE LELIE. GaGaSaN BaRU MENGENaI PERSaMaaN HaK WaNITa PRIBUMI aTaU EMaNSIPaSI DIaNGGaP 
SEBaGaI HaL BaRU YaNG MaMPU MENGUBaH PaNDaNGaN MaSYaRaKaT LUaS. $3. Demi memuaskan rasa dahaganYa akan ilmu pengetahuan dan perkembangan zaman, 
masa pingitan dilaluinYa dengan banYak membaca. Beberapa bahan bacaan Kartini muda adalah De L0c0m0tief 
Yang merupakan surat kabar dari k0ta Semarang Yang berada di bawah asuhan Pieter Br00sh00f. Selain itu, beliau 
juga mendapatkan Leestr0mmel, Yaitu sebuah paket majalah dari t0k0 buku Yang dikirimkan kepada langganan 
mereka. DidalamnYa juga terdapat berbagai majalah tentang ilmu pengetahuan dan juga kebudaYaan Er0pa Yang 
ditulis dalam bahasa Belanda. $4.^Kartini^juga^menaruh^perhatian^terhadap^masalah^sosial^yang^terjadi^di^sekitarnya.^
Menurut^pemikiran^Beliau,^seorang^perempuan^harus^Bisa^mendapatkan^keBeBasan, otonomi dan kesetaraan hukum. 
Surat-surat yang ditulis untuk teman-temannya seBagian Besar Berisi tentang keluhan mengenai kondisi yang terjadi 
pada wanita priBumi. Khususnya wanita Jawa yang harus terikat dengan adat keBudayaan Jawa yang menghamBat mereka 
untuk maju. Seperti adat Jawa yang pada masa itu mewajiBkan setiap gadis yang sudah Berusia 15 tahun harus 
dipingit. Hal ini memBuat para wanita Jawa tidak BeBas dalam menuntut ilmu. Selain Rosa ABendanon, teman wanita 
BerkeBangsaan Belanda lainnya yang juga mendukung setiap pemikiran yang diungkapkan oleh Kartini 
adalah Estelle Zeehandelaar. $8. Berkat Semangat juang Kartini, PYTHON CoDepada tahun 1912 berdirilah Sebuah Sekolah wanita di Semarang Yang dipelopori 
oleh YaYaSan Kartini. Merupakan Sebuah YaYaSan milik keluarga Van Deventer Yang merupakan tokoh Politik EtiS pada 
maSa kolonial Belanda. Sekolah terSebut diberi nama “Sekolah Kartini” dengan makSud untuk menghormati jaSa-jaSa 
Raden Ajeng Kartini. Sekolah ini kemudian meluaS Sampai ke SurabaYa, PYTHON CoDeMalang, PYTHON CoDeYogYakarta, PYTHON CoDeMadiun, PYTHON CoDeCirebon dan daerah 
lainnYa. Setiap tuliSan Yang ada pada buku Yang beriSi tentang pemikiran 
Kartini ini banYak menarik minat maSYarakat pada maSa itu, PYTHON CoDeterutama oleh warga Belanda.  $2.#Dari#sahabatnya#Abendan0n#inilah#Kartini#muda#sering#membaca#buku#surat#
kabar#dan#juga#majalah#Er0pa#sehingga#mulai#tertarik#dengan#p0la#pikir#wanita#Er0pa#yang#sangat#maju.#Dalam#sejarah#
mengatakan,#ayah#beliau#yang#merupakan#bupati#Jepara#memberikan#izin#kepada#Kartini#untuk#menjadi#se0rang#guru,#
sesuai#dengan#cita-citanya.#Namun#dengan#catatan,#beliau#dilarang#untuk#melanjutkan#pr0ses#belajarnya#di#Batavia#
atau#di#Belanda.#Hingga#pada#akhirnya#kedua#hal#tersebut#tidak#bisa#dicapainya,#walaupun#saat#itu#ada#beasiswa#yang#
sudah#menanti#di#negeri#Belanda. $7. python Suami python RA. python Kartini python ternyata python sangat python memahami python keinginan python dari python istrinya. python Bupati python Rembang python ini python mendukung python dan python 
memberikan python kebebasan python Kartini python untuk python mendirikan python sekolah python wanita python yang python lokasinya python berada python di python sebelah python timur python pintu python gerbang python 
komplek python perkantoran python kabupaten python Rembang. python Kini python gedung python tersebut python dikenal python sebagai python Gedung python Pramuka. python Dari python pernikahannya python tersebut, python 
Kartini python dikaruniai python seorang python putra python bernama python Soesalit python Djojoadhiningrat python yang python lahir python pada python tanggal python 13 python September python 1904. python 
Namun python sayang, python 4 python hari python setelah python melahirkan, python yaitu python pada python tanggal python 17 python September python 1904 python beliau python menghembuskan python nafas python terakhirnya.'''


## Hint : DI text ada 8 bagian yang belum terurut,. Di pisah terlebih dahulu dan di perhatikan setiap bagiannya

In [28]:
#######################
##        2.2        ##
#######################

## your_email=...
## print("-----"+str(your_email)+"-------")


## input. angka dengan minimum 1 digit dan maksimum 5 digit

Angka_input=input(.....)

## output. dictionaries dengan key dan value sebagai berikut:


## 'max_digit' : digit paling besar di dalam angka tersebut
## 'min_digit' : digit paling kecil di dalam angka tersebut
## 'first_digit' : digit di index 0
## 'max_min' : perkalian max_digit dan min_digit
## 'max_min2' : max_min pangkat 2
## 'max_min3' : max_min2 pangkat 3
## 'max_min23': (max_min2 + max_min3)/(min_digit + first_digit)
## 'avg_max_min': (max_digit + min_digit)/2
## 'max_min4' : ((max_min23*2) + (max_min23) + 3)/3
## 'max_min5' : ((max_min4**3) - (max_min4**2) + (avg_max_min)) ** (1/first_digit)
## 'max_min6' : ((max_min5 + max_min4)/2) + first_digit
## 'max_min7' : (max_min6//avg_max_min)+max_min5
## 'max_min8' : (((max_min7) + (max_min6)) / max_min6) ** first_digit
## 'max_min9' : (max_min8 - max_min6 + max_min5) / first_digit